@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

// Fuentes
$fuente_principal: 'Lato', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$negro: #000000;
$cafeOscuro: #964d30;
$cafeClaro: #c39b82;
$blanco: #FFFFFF;
$gris: #b2b6b8;
$grisMedio: #d2d7da;
$grisOscuro: #545757;
$verde: #3dc905;

$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900