.footer{
    padding: $separacion / 2 ;
    background-color: $grisOscuro;
    margin-bottom: 0;

    .contenedo-footer{
        padding-top: $separacion / 2;
    }

    .copyringt{
        color: $blanco;
        text-align: center;
    }
}